<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
	<link rel="stylesheet" type="text/css" th:ref="@{/css/home.css}"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	
	
	<style>
	
		.addTask{
		    width: 50px;
		    height: 50px;
		    background-color: green;
		    color: white;
		    border-radius: 50%;
		    display: inline-block;
		    font-size: x-large;
		    margin-bottom: 40px;
		    /* background-image: url("addfood.png");
		    background-position: center;
			background-size: cover */
		}
		
		.addTask:hover{
		    cursor: pointer;
		}
		.addDrop{
		    color: white;
		    position: absolute;
		    width: 0px;
		    overflow: hidden;
		    background-color: rgba(31, 97, 29, .7);
		}
		
		.taskForm{
		    margin: 25px;
		}
		
		.closeDrop{
		    margin: 15px;
		}
		
		.closeDrop:hover{
		    cursor: pointer;
		}
		
		.taskTable{
		  -moz-user-select: none;
		  -webkit-user-select: none;
		  -ms-user-select: none;
		  -o-user-select: none;
		  user-select: none;    
  		}
		.trashIcon:hover{
    cursor: pointer;
}

	.taskTable:hover{
		cursor: text;
	}
	
	.confirmUpdate{
		visibility: hidden;
	}
	
	.rId{
		visibility: hidden;
	}
	</style>

<title>Admin</title>
</head>
<body>
<div class="container">
	<div class="d-flex justify-content-end">
		<form th:action="@{/logout}" method="get">
			<button class="btn btn-md btn-danger btn-block d-flex justify-content-center" style="width: 100px; height: auto;" name="registration" type="Submit">Logout</button>
		</form>
	</div>
	
	<div class="d-flex">
		<h1 th:utext="${userName}" style="margin-right: 15px;"></h1>	
	    <h1>Task Manager</h1>
	</div>

    <div>
      Add Task
      <div class="addTask d-flex justify-content-center">+</div>
    </div>

    <div class="d-flex">
      <div style="position: relative;">
        <div class="addDrop">
          <div class="closeDrop d-flex justify-content-end">X</div>
          <div class="d-flex justify-content-center"><h2>Add Task</h2></div>
          <form action="/admin/home" class="taskForm" method="post">
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname"><br>
            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="lname"><br>
            <label for="sdate">Start Date:</label><br>
            <input type="date" id="sdate" name="sdate"><br>
            <label for="edate">End Date:</label><br>
            <input type="date" id="edate" name="edate"><br>
            <label for="desc">Description:</label><br>
            <textarea class="descBox" id="desc" name="desc" rows=10 cols=30></textarea><br>
            <label for="sev">Severity</label><br>
            <select id="sev" name="sev">
              <option value="high">High</option>
              <option value="medium">Medium</option>
              <option value="low">Low</option>
            </select>
            <br>
            <input type="submit" value="Submit" class="submitTaskBtn">
          
          </form>
        </div>
      </div>
      
      
      
<div style="position: relative;">
     <form action="/admin/home/updateTask" class="taskForm" method="post">

	 <table class="table table-hover taskTable" style="position: absolute;">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">First</th>
              <th scope="col">Email</th>
              <th scope="col">Description</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Severity</th>
              
            </tr>
          </thead>
          <tbody th:each="task: ${userTasks}">
	        <tr class="taskRow">
		   		<td class= "rId" th:text="${task.id}" ></td>
		    	<td class= "rName" th:text="${task.name}"></td>
		    	<td class= "rEmail" th:text="${task.user.email}"></td>
		    	<td class= "rDesc" th:text="${task.description}"></td>
		    	
		    	<td class= "rSdate" th:text="${task.startDate}"></td>
		    	<td class= "rEdate" th:text="${task.endDate}"></td>
		    	<td class= "rSev" th:text="${task.severity}"></td>
		    	<td class="trashIcon rDel"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
	                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
	                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
              </td>
              
              <td class="confirmUpdate"><input type="submit" value="Submit" class="btn btn-success">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-check" viewBox="0 0 16 16">
				  <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"></path>
				</svg>
                Update
              </td>
			</tr>
			
          </tbody>
    </table>
    </form>
    </div>
</div>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>

var addTask = document.querySelector('.addTask');
var addDrop = document.querySelector('.addDrop');
var closeDrop = document.querySelector('.closeDrop');
var descBox = document.querySelector('.descBox');
var taskTable = document.querySelector('.taskTable');
var submitTaskBtn = document.querySelector('.submitTaskBtn');

addTask.addEventListener('click', dropAddTask);
closeDrop.addEventListener('click', closeAddTask);

function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}

var speed = 10;
var stopDrop = descBox.offsetLeft + descBox.offsetWidth;
async function dropAddTask(){
  var move = taskTable.offsetLeft + countDrop 
  console.log("test open " + stopDrop);
  var countDrop = 0;
  while(countDrop <= stopDrop){
    await sleep(20);
    countDrop = countDrop + speed;
    addDrop.style.width = countDrop + "px";
    console.log(move);
    taskTable.style.left = countDrop + "px";
  }
}

async function closeAddTask(){
  var countDrop = descBox.offsetLeft + descBox.offsetWidth;

  console.log("test close " + countDrop );

  while(countDrop >= 0){
    await sleep(20);
    countDrop = countDrop - speed;
    addDrop.style.width = countDrop + "px";
    taskTable.style.left = countDrop + "px";
  }
  addDrop.style.width = 0;
}

var taskRows = document.querySelectorAll('.taskRow');

var i;
for (i = 0; i < taskRows.length; i++) {
	taskRows[i].addEventListener('dblclick', editRow);
	}
	
function editRow(){
	console.log("edit row", this);
	var confirmUpdates = this.querySelector('.confirmUpdate');
	confirmUpdates.style.visibility = 'visible';
	
	
	
	var rId = this.querySelector('.rId');
	var rName = this.querySelector('.rName');
   var rEmail = this.querySelector('.rEmail');
   var rDesc = this.querySelector('.rDesc');
   var rSdate = this.querySelector('.rSdate');
   var rEdate = this.querySelector('.rEdate');
   var rSev = this.querySelector('.rSev');
	
//////////////////////////////////////////////////////////
	//document.getElementById("myText").defaultValue = "Goofy";
	///////////////////////////////////////////////////////////
	
	var id = document.createElement("input");
	id.setAttribute("type", "hidden");
	id.setAttribute("name", "tId");
	id.defaultValue = rId.innerHTML;
	// Create an input element for Full Name
	var name = document.createElement("input");
	name.setAttribute("type", "text");
	name.setAttribute("name", "tName");
	name.defaultValue = rName.innerHTML;
	rName.innerHTML = "";
	// Create an input element for Full Name
	var email = document.createElement("input");
	email.setAttribute("type", "text");
	email.setAttribute("name", "tEmail");
	email.defaultValue = rEmail.innerHTML;
	rEmail.innerHTML = "";
	 // Create an input element for date of birth
	 var desc = document.createElement("textarea");
	 desc.setAttribute("name", "tDesc");
	 desc.defaultValue = rDesc.innerHTML;
	 rDesc.innerHTML = "";
	 // Create an input element for emailID
	 var sev = document.createElement("select");
	 sev.setAttribute("name", "tSev");
	 sev.defaultValue = rSev.innerHTML;
	 var option = document.createElement("option");
	    option.value = "high";
	    option.text = "High";
	    sev.appendChild(option);
	    option = document.createElement("option");
	    option.value = "medium";
	    option.text = "Medium";
	    sev.appendChild(option);
	    option = document.createElement("option");
	    option.value = "low";
	    option.text = "Low";
	    sev.appendChild(option);
	    
	    
	    
	 rSev.innerHTML = "";
	  // Create an input element for password
	  var sdate = document.createElement("input");
	  sdate.setAttribute("type", "date");
	  sdate.setAttribute("name", "tSdate");
	  //sdate.defaultValue = rSdate.innerHTML;
	  rSdate.innerHTML = "";
	  // Create an input element for password
	  var edate = document.createElement("input");
	  edate.setAttribute("type", "date");
	  edate.setAttribute("name", "tEdate");
	  //edate.defaultValue = rEdate.innerHTML;
	  rEdate.innerHTML = "";
	   // create a submit button
	   var s = document.createElement("input");
	   s.setAttribute("type", "submit");
	   s.setAttribute("value", "Submit");
	   
	   
	   rId.appendChild(id);
	   
	  //d the full name input to the form
	  rName.appendChild(name); 
	
	  // Append the DOB to the form
	  rEmail.appendChild(email); 
	    
	  // Append the emailID to the form
	  rDesc.appendChild(desc); 
	    
	  // Append the Password to the form
	  rSdate.appendChild(sdate); 
	    
	  // Append the ReEnterPassword to the form
	  rEdate.appendChild(edate); 
	    
	  // Append the submit button to the form
	  rSev.appendChild(sev); 
	
}

var deleteIcon = document.querySelectorAll('.rDel')
for (i = 0; i < deleteIcon.length; i++) {
	deleteIcon[i].addEventListener('click', deleteTask);
}
function deleteTask(){
	console.log('trash test', this.parentElement);
	 // Create a form synamically
    var form = document.createElement("form");
	 form.style.visibility = 'hidden';
    form.setAttribute("method", "post");
    form.setAttribute("action", "/admin/home/deleteTask");
    
    var rId = this.parentElement.querySelector('.rId');
    var id = document.createElement("input");
	id.setAttribute("type", "hidden");
	id.setAttribute("name", "tId");
	id.defaultValue = rId.innerHTML;
	
	form.appendChild(id);
	
	document.getElementsByTagName("body")[0]
    .appendChild(form);
	
    form.submit();
}

</script>
</body>
</html>