<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

	<link rel="stylesheet" type="text/css" th:ref="@{/css/home.css}"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<meta charset="ISO-8859-1">
<title>Admin</title>
</head>
<body>
<div class="container">
	<form th:action="@{/logout}" method="get">
		<button class="btn btn-md btn-danger btn-block" name="registration" type="Submit">Logout</button>
	</form>
	
	<div class="panel-group" style="margin-top: 40px">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<span th:utext="${username}"></span>
			</div>
			
			<div class="panel-body">
				<img th:src="@{/images/beer.jpg}" class="img-responsive center-block" width="400" height="400" alt="Beer"/>
			</div>
			<p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>