<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HibernateConfig</display-name>
  <welcome-file-list>
      <welcome-file>Login.jsp</welcome-file>
  
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>FindPetServlet</display-name>
    <servlet-name>FindPetServlet</servlet-name>
    <servlet-class>com.hcl.petShop.FindPetServlet</servlet-class>
  </servlet>
  
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>com.hcl.petShop.SignupServlet</servlet-class>
  </servlet>
  
  <servlet>
    <description></description>
    <display-name>SigninServlet</display-name>
    <servlet-name>SigninServlet</servlet-name>
    <servlet-class>com.hcl.petShop.SigninServlet</servlet-class>
  </servlet>
  
  <servlet>
    <description></description>
    <display-name>AddPetServlet</display-name>
    <servlet-name>AddPetServlet</servlet-name>
    <servlet-class>com.hcl.petShop.AddPetServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>FindPetServlet</servlet-name>
    <url-pattern>/SearchPet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>AddPetServlet</servlet-name>
    <url-pattern>/addPet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SigninServlet</servlet-name>
    <url-pattern>/Signin</url-pattern>
  </servlet-mapping>

</web-app>	